:root {
	/* COLORS */
	--color-white-1: #fff;
	--color-white-2: #f7f7fc;
	--color-black-1: #14142b;
	--color-blue-1: #032596;
	--color-blue-2: #e5ebfe;
	--color-gray-1: #d9dbe9;
	--color-gray-2: #e2e3ed;
	--color-gray-3: #6e7191;
	--color-gray-4: #4e4b66;
	--color-gray-5: #eff0f7;
	--color-yellow: #f4b740;
	--color-focus: #fd0;
	--color-primary: #5c0cde;
	--color-primary-dark: #460ea1;
	--color-help: #eee5fe;
	--color-help-dark: #b296e2;

	/* NOTIFICATIONS */
	--notification-bg-success: #e5fff2;
	--notification-bg-warning: #fefee5;
	--notification-bg-danger: #ffe5f2;

	--notification-color-success: #00994d;
	--notification-color-warning: #6a5300;
	--notification-color-danger: #ed2e7e;

	/* BUTTONS */

	/* primary */
	--btn-bg-color-primary: var(--color-primary);
	--btn-bg-color-hover-primary: var(--color-primary-dark);

	--btn-color-primary: var(--color-white-1);
	--btn-color-hover-primary: var(--color-white-1);

	--btn-border-color: var(--color-primary);
	--btn-border-color-hover: var(--color-primary);

	/* secondary */
	--btn-bg-color-secondary: var(--color-white-2);
	--btn-bg-color-hover-secondary: var(--color-gray-2);

	--btn-color-secondary: var(--color-primary);
	--btn-color-hover-secondary: var(--color-primary);

	--btn-border-color-secondary: var(--color-primary);
	--btn-border-color-hover-secondary: var(--color-primary);

	/* help */
	--btn-bg-color-help: var(--color-help);
	--btn-bg-color-hover-help: var(--color-help-dark);

	--btn-color-help: var(--color-black-1);
	--btn-color-hover-help: var(--color-black-1);

	--btn-border-color-help: var(--color-primary);
	--btn-border-color-hover-help: var(--color-primary);

	/* circle */
	--btn-bg-color-circle: var(--color-white-1);
	--btn-bg-color-hover-circle: var(--color-gray-2);

	--btn-color-circle: var(--color-gray-3);
	--btn-color-hover-circle: var(--color-gray-3);

	--btn-border-color-circle: var(--color-white-1);
	--btn-border-color-hover-circle: var(--color-gray-2);

	/* BADGES */
	--badge-bg-primary: var(--color-blue-2);
	--badge-color-primary: var(--color-blue-1);

	--badge-bg-secondary: var(--color-help);
	--badge-color-secondary: var(--color-primary-dark);

	/* EXTRA */
	--footer-height: 5rem;
}
